In [1]:
import pandas as pd

In [7]:
data = pd.HDFStore('/Users/fizaa/Downloads/results_mapc_run_26_run_results.h5',mode = 'r')

In [9]:
data.keys()

['/2050/households',
 '/2050/jobs',
 '/2050/residential_units',
 '/2040/households',
 '/2040/jobs',
 '/2040/residential_units',
 '/2030/households',
 '/2030/jobs',
 '/2030/residential_units',
 '/2020/households',
 '/2020/jobs',
 '/2020/residential_units',
 '/2011/households',
 '/2011/jobs',
 '/2011/residential_units',
 '/2010/households',
 '/2010/jobs',
 '/2010/residential_units']

In [13]:
households2050 = data.get('/2050/households')

In [14]:
type(households2050)

pandas.core.frame.DataFrame

In [15]:
households2050.head()

,race_of_head,workers,recent_mover,block_group,serialno,hispanic_status_of_head,children,subregion_id,persons,income,county,block_id,state,tract,cars,tenure,age_of_head
household_id,,,,,,,,,,,,,,,,,
1033024,1,0.0,0,1,2010000769167,0,0,1,1,21400.0,017,250173361001002,25,336100,0.0,1,85
1033025,1,0.0,0,1,2011000604701,0,0,1,1,11100.0,017,250173361001017,25,336100,0.0,1,94
1033027,1,0.0,0,2,2011000910010,0,0,1,1,15800.0,017,250173361002000,25,336100,0.0,2,81
1033032,1,0.0,0,1,2011000638851,0,0,1,1,0.0,017,250173361001017,25,336100,0.0,2,94
1033033,1,0.0,0,1,2010000860375,0,0,1,1,9000.0,017,250173361001018,25,336100,0.0,2,89